body{
    background-color: #113;
    color: #ffd;
}

#main-box h3 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #eef;
}

.lineScore {
    color:#eef;
    fill: #eef;
    font-size:18px;
    font-family: Verdana, Helvetica, Arial, sans-serif;

}