@(key: String)
@angularMain("Team", "team", "teamController") {



<div>
    <div ng-controller="teamController">
        <script>
            app.value("key","@key");
        </script>
        <h2>{{team.season.key}}</h2>

        <h1><img src="{{team.logoUrl}}"/>{{team.name}} {{team.nickname}}</h1>
        <h2>{{team.division}}</h2>
        <h2>Schedule</h2>
        <ul >
            <li ng-repeat="game in team.season.games ">
                {{game.oppKey}}
            </li>
        </ul>
        <h2>Roster</h2>
        <ul >
            <li ng-repeat="player in team.season.players ">
                {{player.name}}
            </li>
        </ul>

    </div>
</div>


}
